
.btn-custom {
    background-color: #5451ee;
    color: #ffffff;
}

.btn-custom:hover {
    background-color: #5451ee;
    color: white;
}


.gradient-custom-2 {
    background: linear-gradient(to bottom, #5451ee, #6a1b9a);
}

.index-logo{
    filter: invert();
    display: block;
    margin: auto;
    margin-top: -60px;
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .index-logo{
        width: 300px;
        margin-top: 0px;
    }
}

#dash-icon{
    margin-left: 10px;
}

.rounded-circle{
    border: 3px solid #2d29e9;
    padding: 5px;
}


.profile-img-container {
    position: relative;
    display: inline-block;
}

.profile-img-container img {
    border-radius: 50%;
}

.change-photo-text {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.profile-img-container:hover .change-photo-text {
    display: block;
}

.custom-ellipsis{
    font-size: 1.2rem;
}

.user-card {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.user-card img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
}
.user-card .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-following {
    border: 1px solid #5451ee;
    color: #5451ee;
    background-color: transparent;
}

.stats {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.stat {
    text-align: center;
    flex: 1;
    cursor: pointer;
}
.stat:hover{
    background-color: #00000011;
}

.stat p:nth-of-type(2) {
    font-size: 1.5rem;
    font-weight: 600;
}
